<!DOCTYPE html>
<html>
    <head>
        <style media = "all and (min-width: 769px)">
            .deadline-text{font-size: 1.5rem;}
            .title-text{font-size: 2.3rem;}
            .count-text{font-size: 1.5rem;}
            #info-box{width: 62%; }
            #submit-textarea{width:60%;}
            #submit-div{width:28%; display: inline-block;} 
            #submit-mdiv{display:none;}
            .type-text{font-size: 1.2rem;}
            .type-mtext{display: none;}
            .title { font-size: 1.8rem; margin:2rem 1rem 0;}
            .title_center{ font-size: 1.8rem; margin:2rem 1rem 0;}
            .main-text{font-size: 1.1rem;}
            td{font-size:1.0rem;}
            .re_vedio iframe{text-align:center; width: 700px; height: 500px;}
            .answer {font-size: 1.2rem;}
        </style>
        <style media = "all and (max-width: 768px)">
            .deadline-text{font-size: 1.2rem;}
            .title-text{font-size: 1.5rem;}
            .count-text{font-size: 1.2rem;}
            #info-box{width: 87%;}
            #submit-textarea{width:100%;}
            #submit-div{display:none;} 
            .type-mtext{font-size: 1.0rem;}
            .type-text{display:none;}
            .title { font-size: 1.5rem; margin:2rem 1rem 0;}
            .title_center{ text-align:center; font-size: 1.5rem; margin:2rem 1rem 0;}
            .main-text{font-size: 1.0rem;}
            td{font-size:0.8rem;}
            .re_vedio iframe{ width: 300px; height: 200px;}
             .answer {font-size: 1.0rem;}
        </style>
        <% include ./head.html %>
        <title>Siri-b Petition</title>
    </head> 
    <body>
        <!-- Navigation -->
        <% include ./navigation.html %>
        
        <!-- Page Header -->
        <% include ./header.html %>
        
        <div class="container" style="max-width: 80rem;">
            <div class="container card mb-10" style="padding: 0.6rem; border: 0.04rem solid #9a9a9a; max-width: 80rem;">
                <br>
                <div class="container border-light mb-5" style="max-width: 70rem;">
                    <div class="card-body">
                        <%if(content.dayFlag==1 && !content.answer_flag) {%>
                            <p align="center" style="color: #003c70;"><strong class="deadline-text">&#91; 청원 진행중 &#93;</strong></p>
                        <%} else if(content.dayFlag==0 && !content.answer_flag) {%>
                            <p align="center" style="color: #003c70;"><strong class="deadline-text">&#91; 답변 대기 &#93;</strong></p>
                        <%} else {%>
                            <p align="center" style="color: #003c70;"><strong class="deadline-text">&#91; 청원 종료 &#93;</strong></p>
                        <%}%>
                        <p align="center"><strong class="title-text"><%=content.title%></strong></p>
                        <p align="center" style="margin-bottom: 0;"><strong class="count-text">참여인원 : [ <strong class="text-primary"><%=content.count%></strong>명 ]</strong></p>
                    </div>
                </div>
                <div class="container border-secondary mb-5" id=info-box>
                    <div class="card-header" style="padding: 0.2rem;">
                        <p align="center" class="type-text">분류 : <strong><%=content.type%></strong>　　　청원인 : <strong><%=content.nickname%></strong></p>
                        <p align="center" class="type-text">청원시작 : <strong><%=content.startDay%></strong>　~　청원종료 : <strong><%=content.endDay%></strong></p>
                        <p align="center" class="type-mtext">분류 : <strong><%=content.type%></strong>　청원인 : <strong><%=content.nickname%></strong></p>
                        <p align="center" class="type-mtext">청원시작 : <strong><%=content.startDay%></strong></p>
                        <p align="center" class="type-mtext">청원종료 : <strong><%=content.endDay%></strong></p>
                    </div>
                </div>
                <br>
                <%if(content.answer_flag) {%>
                    <div class="container" style="max-width: 70rem;">
                        <hr><br>
                        <div class="re_vedio" style="text-align:center;">  
                            <iframe src="<%=content.answer_video%>" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>        
                        </div>
                        <br>
                    </div>
                <%}%>
                
                <div class="container border-light mb-5" style="max-width: 70rem;">
                    <hr>
                    <p class="title"><span style="color: #003c70;"> ● </span><strong>청원 개요</strong></p>
                </div>
                <div class="container border-light mb-5" style="max-width: 70rem;">
                    <p class="main-text"><strong>
                        <%var lines = content.contents.split("\n");%>
                        <%lines.forEach(function(item) {%>
                            <%=item%><br/>
                        <%})%>
                        </strong></p>
                </div>
                
                <%if(content.answer_flag) {%>
                    <div class="container border-secondary mb-5">
                        <div class="card-header" style="padding: 1.2rem;">
                            <p class="title"><span style="color: #003c70;"> ● </span><strong>답변원고</strong></p>
                            <p class="answer"><strong>
                                <%var answer_lines = content.answer_contents.split("\n");%>
                                <%lines.forEach(function(item) {%>
                                    <%=item%><br/>
                                <%})%>
                            </strong></p>
                        </div>
                    </div>
                <%}%>
                
                
                <%if(!content.answer_flag) {%>
                    <div class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarColor02">
                            <ul class="mr-auto"></ul>
                            <form action="/petition/reply_post" method="get" class="form-inline my-2 my-lg-0" style="margin: 0 1.2rem">
                                <input type="hidden" name="id" value="<%=content._id%>">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><h6>　답변하기　</h6></button>
                            </form>
                            <form action="/petition/delete" method="get" class="form-inline my-2 my-lg-0" style="margin: 0 1.2rem">
                                <input type="hidden" name="id" value="<%=content._id%>">
                                <button class="btn  my-2 my-sm-0" type="submit"><h6>　글 삭제하기　</h6></button>
                            </form>
                        </div>
                    </div>
                <%}%>
                <%if(login) {%>
                    <%if(login.uid == "DYYuut6bTfNEkNLbMiFjyDIui1e2") {%>
                    <%}%> 
                <%}%> 
                
            </div>
            <br><br>
            
            <div class="container" style="max-width: 65rem;">
                <p class="title_center"><span style="color: #003c70;"> ● </span><strong>청원 동의　[ <span style="color: #003c70;"><%=content.count%> ]</span> 명</strong></p>
                <br>
                <%if(!content.answer_flag) {%>
                <div class="col-lg-20 col-md-12" style= "max-width: 65rem;">
                    <form action="/petition/comment" method="post">
                        <div id=submit-mdiv style="text-align:right;">
                            <button style="padding:0.4rem 0.6rem;background-color: #003c70; border: 0.15rem solid #003c70" class="btn btn-primary" type="submit">SUBMIT</button>
                        </div>
                        <div style="background-color: #f3f3f3; border: 0.15rem solid #dedede; padding: 1rem;">
                            <input type="hidden" name="id" value="<%=content._id%>">
                            <textarea style="display: inline-block;" required="" placeholder="동의합니다." class="form-control mr-sm-5" name="contents" id="submit-textarea">동의합니다.</textarea>
                            
                            <div id=submit-div>
                                <div style="float:right;">
                                    <button style="background-color: #003c70; border: 0.15rem solid #003c70" class="btn btn-primary" type="submit" id=submit-btn>SUBMIT</button>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <br><br>
                <%}%>
                <div class="row">
                    <div class="col-lg-20 col-md-12" style= "max-width: 65rem;">
                        <table class="table table-hover">
                            <tbody> 
                                <%if(content.comments.length>0){%>
                                    <%var commentsList = content.comments;%>
                                    <%commentsList.forEach(function(item){%>
                                        <tr class="table-light">
                                            <td><strong class="text-dark"><%=item.writer%></strong>
                                                <p><%=item.contents%></p></td>
                                        </tr>
                                    <%})%>
                                <%} else {%>  
                                    <tr class="table-light">
                                        <td><strong class="text-dark">댓글이 없습니다.</strong></td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
            <br>

     
            <div class="container border-light mb-5" style="max-width: 23rem;">
                 <ul class="pagination">
                 <%if(info.active==1) {%>
                    <li class="page-item disabled">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=1">&laquo;</a>
                    </li>
                 <%} else {%>
                    <li class="page-item">
                        <a class="page-link " href="/petition/content?id=<%=content._id%>&page=1">&laquo;</a>
                    </li>
                 <%}%>
                 <%if(info.startPage==1) {%>
                    <li class="page-item disabled">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=info.startPage-info.limitPage%>">&lt;</a>
                    </li>
                 <%} else {%>
                    <li class="page-item">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=info.startPage-info.limitPage%>">&lt;</a>
                    </li>
                 <%}%>
                 <%for(var i=info.startPage; i<=info.endPage; i++){%>
                    <%if(i==info.active) {%>
                        <li class="page-item active">
                            <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=i%>"><%=i%></a>
                        </li>
                    <%} else {%>
                        <li class="page-item">
                            <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=i%>"><%=i%></a>
                        </li>
                
                    <%}%>
                 <%}%>
                 <%if(info.endPage==info.pagination) {%>
                    <li class="page-item disabled">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=info.startPage-(-info.limitPage)%>">&gt;</a>
                    </li>
                 <%} else {%>
                    <li class="page-item">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=info.startPage-(-info.limitPage)%>">&gt;</a>
                    </li>
                 <%}%>
                 <%if(info.active==info.pagination) {%>
                    <li class="page-item disabled">
                        <a class="page-link" href="/petition/content?id=<%=content._id%>&page=<%=info.pagination%>">&raquo;</a>
                    </li>
                 <%} else {%>
                    <li class="page-item">
                        <a class="page-link " href="/petition/content?id=<%=content._id%>&page=<%=info.pagination%>">&raquo;</a>
                    </li>
                 <%}%>
                </ul>
            </div>
        </div>
        <br>
        <hr/>
        <!-- Footer -->
        <% include ./footer.html %>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/clean-blog.min.js"></script>      
    </body>
</html>
