<!DOCTYPE html>
<html lang="en">
    <head>
        <style media = "all and (min-width: 769px)">
            .title { font-size: 1.8rem; margin-left:1rem;}
            .type-div {padding: 1.1rem;}
            .mtype-tr{display:none;}
            .type-tr th{padding:1rem;}
            .type-table { font-size: 1.2rem; padding: 0.9rem; color: #565656;}
            .type-table:hover { color: #003c70; padding: 1rem; background-color: #93DAFF; text-decoration:none; }
            .type-table:active { color: #003c70; padding: 1rem; background-color: #93DAFF; text-decoration:none; }
            .type-table-active { font-size: 1.2rem; color: #003c70; padding: 1rem; background-color: #93DAFF;}
            .type-table-active:hover { color: #003c70; background-color: #93DAFF; text-decoration:none; }
            .type-table-active:active { color: #003c70; background-color: #93DAFF; text-decoration:none; }
            .my-box {color: #787878; font-weight: bold; font-size: 1.5rem; }
            .my-box:hover { color: #003c70; text-decoration:none; font-size: 1.55rem; }
            .my-box:active { color: #003c70; text-decoration:none; font-size: 1.55rem; }
            .nav-link { color: #787878; font-weight: bold; font-size:1.3rem;}
            .nav-link:hover { color: #003c70; text-decoration:none; font-size:1.35rem;}
            .nav-link:active { color: #003c70; text-decoration:none; font-size:1.35rem;}
            .nav-tabs li{padding: 0.8rem;}
            .table-text{font-size: 1rem; padding: 0.9rem 0.28rem;}
            .table-mtext{display:none}
        </style>
        <style media = "all and (max-width: 768px)">
            .title {font-size: 1.5rem; margin-left:0.2rem;}
            .type-div {padding: 0.3rem;}
            .type-tr{display:none;}
            .mtype-tr th{padding:0.5rem 0;}
            .type-table { font-size: 0.8rem; padding: 0.6rem; color: #565656;}
            .type-table:hover { color: #003c70; padding: 0.65rem; background-color: #93DAFF; text-decoration:none; }
            .type-table:active { color: #003c70; padding: 0.65rem; background-color: #93DAFF; text-decoration:none; }
            .type-table-active { font-size: 0.8rem; color: #003c70; padding: 0.6rem; background-color: #93DAFF;}
            .type-table-active:hover { color: #003c70; background-color: #93DAFF; text-decoration:none; }
            .type-table-active:active { color: #003c70; background-color: #93DAFF; text-decoration:none; }
            .my-box {color: #787878; font-weight: bold; font-size: 0.9rem; }
            .my-box:hover { color: #003c70; text-decoration:none; font-size: 0.95rem;}
            .my-box:active { color: #003c70; text-decoration:none; font-size: 0.95rem; }
            .nav-link { color: #787878; font-weight: bold; font-size:0.8rem;}
            .nav-link:hover { color: #003c70; text-decoration:none; font-size:0.85rem;}
            .nav-link:active { color: #003c70; text-decoration:none; font-size:0.85rem;}
            .nav-tabs li{padding: 0.5rem;}
             thead{display:none;}
            .table-text{display:none}
            .table-mtext{text-align: left; font-size: 1.05rem; margin: 0; padding:0.5rem;  border-top: 0.1rem solid #003c70;  }
            .table-mtext a { text-decoration:none;}
            .table-mtext a:hover {  text-decoration:none;}
            .table-mtext a:active {  text-decoration:none;}
        </style>
        <% include ./head.html %>
        <title>Siri-b Petition</title>
    </head>
    <body>
        <!-- Navigation -->
        <% include ./navigation.html %>

        <!-- Page Header -->
        <% include ./header.html %>
    
        <div class="container" style="max-width: 70rem;">
            <div class="container border-light mb-4" style="max-width: 70rem;">
                 <p class="title"><span style="color: #003c70;"> ● </span><strong>청원 그룹별 보기</strong></p>
            </div>
            <br>
            <div class="container type-div" style="border:0.25rem solid #003c70; max-width: 65rem;">
                <table class="container border-light">
                    <tr class="type-tr">
                        <%if(info.type=="All") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=All&deadlineFlag=<%=info.deadlineFlag%>"><strong>전체</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=All&deadlineFlag=<%=info.deadlineFlag%>"><strong>전체</strong></a></th>
                        <%}%>
                        <%if(info.type=="총학생회") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=총학생회&deadlineFlag=<%=info.deadlineFlag%>"><strong>총학생회</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=총학생회&deadlineFlag=<%=info.deadlineFlag%>"><strong>총학생회</strong></a></th>
                        <%}%>
                        <%if(info.type=="경영대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=경영대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>경영대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=경영대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>경영대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="공과대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=공과대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>공과대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=공과대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>공과대학</strong></a></th>
                        <%}%>
                    </tr>
                    <tr class="type-tr">
                        <%if(info.type=="도시과학대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=도시과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>도시과학대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=도시과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>도시과학대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="예술체육대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=예술체육대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>예술체육대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=예술체육대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>예술체육대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="인문대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=인문대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>인문대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=인문대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>인문대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="자연과학대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=자연과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자연과학대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=자연과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자연과학대학</strong></a></th>
                        <%}%>
                    </tr>
                    <tr class="type-tr">
                        <%if(info.type=="정경대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=정경대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>정경대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=정경대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>정경대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="자유융합대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=자유융합대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자유융합대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=자유융합대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자유융합대학</strong></a></th>
                        <%}%>
                         <%if(info.type=="기타") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=기타&deadlineFlag=<%=info.deadlineFlag%>"><strong>기타</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=기타&deadlineFlag=<%=info.deadlineFlag%>"><strong>기타</strong></a></th>
                        <%}%>
                    </tr>
                    
                    <tr class="mtype-tr">
                        <%if(info.type=="All") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=All&deadlineFlag=<%=info.deadlineFlag%>"><strong>전체</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=All&deadlineFlag=<%=info.deadlineFlag%>"><strong>전체</strong></a></th>
                        <%}%>
                        <%if(info.type=="총학생회") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=총학생회&deadlineFlag=<%=info.deadlineFlag%>"><strong>총학생회</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=총학생회&deadlineFlag=<%=info.deadlineFlag%>"><strong>총학생회</strong></a></th>
                        <%}%>
                        <%if(info.type=="경영대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=경영대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>경영대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=경영대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>경영대학</strong></a></th>
                        <%}%>
                    </tr>
                    <tr class="mtype-tr">
                         <%if(info.type=="공과대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=공과대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>공과대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=공과대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>공과대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="도시과학대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=도시과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>도시과학대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=도시과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>도시과학대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="예술체육대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=예술체육대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>예술체육대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=예술체육대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>예술체육대학</strong></a></th>
                        <%}%>
                    </tr>
                    <tr class="mtype-tr">
                        <%if(info.type=="인문대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=인문대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>인문대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=인문대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>인문대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="자연과학대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=자연과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자연과학대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=자연과학대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자연과학대학</strong></a></th>
                        <%}%>
                        <%if(info.type=="정경대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=정경대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>정경대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=정경대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>정경대학</strong></a></th>
                        <%}%>
                    </tr>
                    <tr class="mtype-tr">
                        <%if(info.type=="자유융합대학") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=자유융합대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자유융합대학</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=자유융합대학&deadlineFlag=<%=info.deadlineFlag%>"><strong>자유융합대학</strong></a></th>
                        <%}%>
                         <%if(info.type=="기타") {%>
                            <th><a class="type-table-active" href="/petition/list?sort=created_at&type=기타&deadlineFlag=<%=info.deadlineFlag%>"><strong>기타</strong></a></th>
                        <%} else {%>
                            <th><a class="type-table" href="/petition/list?sort=created_at&type=기타&deadlineFlag=<%=info.deadlineFlag%>"><strong>기타</strong></a></th>
                        <%}%>
                    </tr>
                </table>
            </div>
            <br><br><br><br>
            
            <div class="container" style="max-width: 70rem;">
                <table class="container border-light" style="text-align: center; max-width: 90rem;">
                    <tr>
                        <%if(info.deadlineFlag==1) {%>
                            <th style="padding: 0.6rem;  border-top: 0.25rem solid #003c70; border-right: 0.15rem solid #003c70; border-left: 0.15rem solid #003c70;"><a class="my-box" href="/petition/list?sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=1"><span style="color: #003c70;">진행중인 청원</span></a></th>
                            <th style="padding: 0.6rem;  border: 0.1rem solid #bcbcbc; background-color: #cdcdcd;"><a class="my-box" href="/petition/list?sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=0">　만료된 청원</a></th>
                        <%} else {%>
                            <th style="padding: 0.6rem; border-top: 0.1rem solid #bcbcbc; border-bottom: 0.1rem solid #bcbcbc; background-color: #cdcdcd;"><a class="my-box" href="/petition/list?sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=1">진행중인 청원</a></th>
                            <th style="padding: 0.6rem;  border-top: 0.25rem solid #003c70; border-right: 0.15rem solid #003c70; border-left: 0.15rem solid #003c70;"><a class="my-box" href="/petition/list?sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=0"><span style="color: #003c70;">　만료된 청원</span></a></th>
                        <%}%>
                    </tr>
                </table>
            </div>
            <br>
            
            <div class="container border-light mb-4" style="max-width: 65rem;">
                <p class="title"><span style="color: #003c70;"> ● </span><strong>전체 목록</strong></p>
            </div>
            <ul class="nav nav-tabs">
                <%if(info.sort=="created_at") {%>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff; border: 0.2rem solid #003c70; background-color: #003c70;" href="/petition/list?sort=created_at&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">　최신순　</a>
                    </li>
                <%} else {%>
                    <li class="nav-item">
                        <a class="nav-link" style="border: 0.2rem solid #787878;" href="/petition/list?sort=created_at&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">　최신순　</a>
                    </li>
                <%}%>
                 <%if(info.sort=="count") {%>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #ffffff; border: 0.2rem solid #003c70; background-color: #003c70;"  href="/petition/list?sort=count&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">　추천순　</a>
                    </li>
                <%} else {%>
                    <li class="nav-item">
                        <a class="nav-link" style="border: 0.2rem solid #787878;"  href="/petition/list?sort=count&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">　추천순　</a>
                    </li>
                <%}%>
            </ul>
             
            <div class="row">
                <div class="col-lg-24 col-md-12" style="max-width: 70rem;">
                    <table class="table table-hover" style="text-align: center;" cellspacing="0.6rem">
                        <thead>
                            <tr style="border-top: 0.2rem solid #003c70;">
                                <th style="font-size: 1.2rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">번호</th>
                                <th style="font-size: 1.2rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">분류</th>
                                <th style="font-size: 1.2rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">제목</th>
                                <th style="font-size: 1.2rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">별명</th>
                                <th style="font-size: 1.2rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">기간</th>
                                <th style="font-size: 1.1rem; padding: 0.9rem 0.28rem; background-color: #003c70; color: #ffffff" scope="col">참여인원</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(contents.length>0){%>
                                <%var i = info.no + 1;%>
                                <%contents.forEach(function(item){%>
                                    <%i--;%>
                                    <tr style="font-size: 1rem" class="table-light">
                                        <th class="table-text"><%=i%></th>
                                        <td class="table-text"><strong class="text-primary"><%=item.type%></strong></td>
                                        <%if(item.title.length >= 38) {%>
                                            <%var txt = " ";%>
                                            <%for(var j = 0; j < 38; j++) {%>
                                                <%txt += item.title[j];%>
                                            <%}%>
                                            <%txt += "...";%>
                                            <td class="table-text" style="text-align: left;"><strong class="text-muted"><a href="/petition/content?id=<%=item._id%>"><%=txt%></a></strong></td>
                                        
                                            <div class="table-mtext">
                                                <p style="display: inline-block; width:49%; margin:0.7rem 0;"><span style="background-color:#003c70; color: #ffffff">　<%=i%>번　</span></p>
                                                <p style="display: inline-block; text-align:right; width:49%; margin:0.4rem 0;"><strong class="text-primary"><%=item.type%></strong></p>
                                    
                                                <p style="font-size: 1.2rem; margin:0.7rem 0"><strong class="text-dark"><a href="/petition/content?id=<%=item._id%>"><%=txt%></a></strong></p>
                                                
                                                <p style="display: inline-block; width:49%; margin:0.1rem 0; "><%=item.startDay%> ~ <%=item.endDay%></p>
                                                <p style="display: inline-block; text-align:right; width:49%; margin:0.2rem 0 0.5rem;"><strong class="text-primary"><%=item.count%>명</strong></p> 
                                            </div>
                                        <%} else {%>
                                            <td class="table-text" style="text-align: left;"><strong class="text-muted"><a href="/petition/content?id=<%=item._id%>"><%=item.title%></a></strong></td>
                                        
                                            <div class="table-mtext">
                                               <p style="display: inline-block; width:49%; margin:0.7rem 0;"><span style="background-color:#003c70; color: #ffffff">　<%=i%>번　</span></p>
                                                <p style="display: inline-block; text-align:right; width:49%; margin:0.4rem 0;"><strong class="text-primary"><%=item.type%></strong></p>
                                    
                                                <p style="font-size: 1.2rem; margin:0.7rem 0"><strong class="text-dark"><a href="/petition/content?id=<%=item._id%>"><%=item.title%></a></strong></p>
                                                
                                                <p style="display: inline-block; width:49%; margin:0.1rem 0; "><%=item.startDay%> ~ <%=item.endDay%></p>
                                                <p style="display: inline-block; text-align:right; width:49%; margin:0.2rem 0 0.5rem;"><strong class="text-primary"><%=item.count%>명</strong></p> 
                                            </div>
                                        <%}%>
                                        <td class="table-text"><strong class="text-dark"><%=item.nickname%></strong></td>
                                        <td class="table-text"><strong class="text-muted"><%=item.startDay%> ~ <%=item.endDay%></strong></td>
                                        <%if(item.count > 10) {%>
                                            <td class="table-text"><strong class="text-primary"><%=item.count%>명</strong></td>
                                        <%} else {%>
                                            <td class="table-text"><strong class="text-muted"><%=item.count%>명</strong></td>
                                        <%}%>
                                    </tr>
                                <%})%>
                                <tr class="table-text"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <div class="table-mtext"></div>
                            <%} else {%>
                                <tr><th colspan="6"><h5>　리스트가 없습니다.　</h5></th></tr>
                            <%}%>
                        </tbody>
                    </table> 
                </div>
            </div>
            <br><br>
                
            <form action="/petition/list" method="get" style="width:40% justify-content: center;">
                <input type="hidden" name="sort" value="<%=info.sort%>">
                <input type="hidden" name="deadlineFlag" value="<%=info.deadlineFlag%>">
                <input type="hidden" name="type" value="search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="word" style="display: inline-block; width:60%;">
                <div style="display: inline-block; width:20%;">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </form>
            <br>
            
            <div class="container border-light mb-5" style="max-width: 22rem;">
                <ul class="pagination" style="justify-content: center;">
                    <%if(info.active==1) {%>
                        <li class="page-item disabled">
                            <a class="page-link" href="/petition/list?page=1&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&laquo;</a>
                        </li>
                    <%} else {%>
                        <li class="page-item">
                            <a class="page-link " href="/petition/list?page=1&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&laquo;</a>
                        </li>
                    <%}%>
                    <%if(info.startPage==1) {%>
                        <li class="page-item disabled">
                            <a class="page-link" href="/petition/list?page=<%=info.startPage-info.limitPage%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&lt;</a>
                        </li>
                    <%} else {%>
                        <li class="page-item">
                            <a class="page-link" href="/petition/list?page=<%=info.startPage-info.limitPage%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&lt;</a>
                        </li>
                    <%}%>
                    <%for(var i=info.startPage; i<=info.endPage; i++){%>
                        <%if(i==info.active) {%>
                            <li class="page-item active">
                                <a class="page-link" href="/petition/list?page=<%=i%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>"><%=i%></a>
                            </li>
                        <%} else {%>
                            <li class="page-item">
                                <a class="page-link" href="/petition/list?page=<%=i%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>"><%=i%></a>
                            </li>
                        <%}%>
                    <%}%>
                    <%if(info.endPage==info.pagination) {%>
                        <li class="page-item disabled">
                            <a class="page-link" href="/petition/list?page=<%=info.startPage-(-info.limitPage)%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&gt;</a>
                        </li>
                    <%} else {%>
                        <li class="page-item">
                            <a class="page-link" href="/petition/list?page=<%=info.startPage-(-info.limitPage)%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&gt;</a>
                        </li>
                    <%}%>
                    <%if(info.active==info.pagination) {%>
                        <li class="page-item disabled">
                            <a class="page-link" href="/petition/list?page=<%=info.pagination%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&raquo;</a>
                        </li>
                    <%} else {%>
                        <li class="page-item">
                            <a class="page-link " href="/petition/list?page=<%=info.pagination%>&sort=<%=info.sort%>&type=<%=info.type%>&word=<%=info.word%>&deadlineFlag=<%=info.deadlineFlag%>">&raquo;</a>
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <br>
        <hr/>
        <!-- Footer -->
        <% include ./footer.html %>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/clean-blog.min.js"></script>
    </body>
</html>
