<!DOCTYPE html>
<html lang="en">
    <head>
        <style media = "all and (min-width: 769px)">
            .title { font-size: 1.8rem; margin:2rem 1rem 0;}
            .title_center{ text-align:center; font-size: 2.1rem; margin:2rem 1rem 0;}
            .card-header h4{font-size: 1.4rem;}
            .card-header h5{font-size: 1.2rem;}
            .card-header h6{font-size: 0.9rem;}
            .custom-control-label{font-weight:bold; font-size:1.3rem;}
            #form-title{width: 80%;}
            #form-title p{font-size:1rem;}
            #mgroup{display: none;}
        </style>
        <style media = "all and (max-width: 768px)">
            .title { font-size: 1.5rem; margin:2rem 1rem 0;}
            .title_center{ text-align:center; font-size: 1.8rem; margin:2rem 1rem 0;}
            .card-header h4{font-size: 1.2rem;}
            .card-header h5{font-size: 0.9rem;}
            .card-header h6{font-size: 0.8rem;}
            .custom-control-label{font-weight:bold; font-size:0.9rem;}
            #form-title{width: 100%;}
            #form-title p{font-size:0.8rem;}
            #group{display:none;}
        </style>
        <% include ./head.html %>
        <title>Siri-b Petition</title>
    </head>
    <body>
        <!-- Navigation -->
        <% include ./navigation.html %>

        <!-- Page Header -->


        <div class="container" style="max-width: 70rem;">
           <br>
            <p class="title_center"><span style="color: #003c70;"> &laquo; </span><strong>청원 답변하기</strong></p>
            <br>

            <div class="container border-secondary mb-4" style="max-width: 67rem;">
                <div class="card-header" style=" padding: 2.4rem;">
                    <h4>학생청원 홈페이지 운영 원칙</h4>
                    <br>
                    <h5 class="text-muted">  ·  학생청원은 사상과 표현의 다양성을 존중합니다. 동시에 타인의 권리를 침해하거나 명예를 훼손하는 내용은 제한합니다. 방송통신 심의위원회의 '정보통신에 관한 심의 규정', 한국인터넷자율정책기구의 '정책규정' 등을 기반으로 문제 게시물은 삭제될 수 있습니다. 자극적이고 혐오스러운 내용, 비속어, 폭력적 내용, 특정 대상을 비하하거나 차별을 조장하는 내용, 개인정보 유출을 비롯해 타인의 권리를 침해하는 내용, 반복되는 내용 등은 제재될 수 있습니다.</h5>
                    <h5 class="text-muted">  ·  청원기간은 <strong class="text-primary">30일</strong> 입니다.</h5>
                    <h5 class="text-muted">  ·  한번 작성된 청원은 <strong class="text-primary">수정 및 삭제가 불가능합니다.</strong>  최초 청원취지와 다른내용으로 변경되는 것을 방지하여 청원참여자의 의견을 보호하기 위한 조치이니 신중하게 작성하여 주시기 바랍니다.</h5>

                    <br><hr>
                    <form  action="/petition/reply_post" id="reply_post" method="post" >
                        <input type="hidden" name="id" value="<%=id%>">
                        <div class="form-group" id="form-title">
                            <h5>청원제목</h5>
                            <p class="form-control" style="background-color: #dedede; border 0.1rem solid #efefef;"><%=content.title%></p>
                        </div>
                        <div class="form-group">
                            <h5>분류</h5>
                            <div class="custom-control custom-radio" style="margin: 1rem;">
                                <input type="radio" id="<%=content.type%>" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="<%=content.type%>"><%=content.type%></label>
                            </div>
                        </div>

                        <div class="form-group" style="width: 65%; margin-left: 1.2rem; padding: 0.3 1rem; background-color: #dedede; border 0.2rem solid #ababab; text-align:center;" id="group">
                            <h6 style="display: inline-block; width: 32%;">청원인원 : <strong class="text-primary"><%=content.count%>명</strong></h6>
                            <h6 style="display: inline-block; width: 32%;">청원시작 : <strong class="text-primary"><%=content.startDay%></strong></h6>
                            <h6 style="display: inline-block; width: 32%;">청원종료 : <strong class="text-primary"><%=content.endDay%></strong></h6>
                        </div>
                        <div class="form-group" style="text-align:center; padding: 0.3 1rem; background-color: #dedede; border 0.2rem solid #ababab;" id="mgroup">
                            <h6 style="display: inline-block; width: 30%;">청원인원</h6>
                            <h6 style="display: inline-block; width: 30%;">청원시작</h6>
                            <h6 style="display: inline-block; width: 30%;">청원종료</h6>
                            <h6 style="display: inline-block; width: 30%;"><strong class="text-primary"><%=content.count%>명</strong></h6>
                            <h6 style="display: inline-block; width: 30%;"><strong class="text-primary"><%=content.startDay%></strong></h6>
                            <h6 style="display: inline-block; width: 30%;"><strong class="text-primary"><%=content.endDay%></strong></h6>
                        </div>
                        <br>
                        <div class="form-group" style="width: 80%;">
                            <h5>이미 작성된 답변 선택</h5>
                            <select class="form-control" name="answer_list_select" id="answer_list_select" onchange="answer_select()">
                                <option value="없음">해당사항 없음</option>
                                <%if(answer_list){%>
                                <%answer_list.forEach(function(answer){%>
                                <option value="<%=answer.answer%>"><%=answer.title%></option>
                                <%})}%>
                            </select>
                        </div>
                        <div class="form-group" style="width: 80%;">
                            <h5>&rarr; 답변 동영상 링크<span style="color: #ababab"> (선택)</span></h5>
                            <input type="text" class="form-control" name="link" id="link">
                        </div>
                        <div class="form-group">
                            <h5>답변 내용</h5>
                            <textarea class="form-control" name="content" rows="15" id="content"></textarea>
                        </div>
                        <p align="right"><input type="button"  onclick="reply();" class="btn btn-primary" value="SUBMIT" style="margin-right: 20px;background-color: #003c70; border: 2px solid #003c70"></p>
                    </form>
                </div>

            </div>



            <div class="container col-lg-9 col-md-12" style="max-width: 65rem;">

            </div>
        </div>
        <br><hr><br>
        <!-- Footer -->
        <% include ./footer.html %>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Custom scripts for this template -->
        <script src="js/clean-blog.min.js"></script>
        <script>
            function answer_select(){
                var langSelect = document.getElementById("answer_list_select");

                // select element에서 선택된 option의 value가 저장된다.
                var selectValue = langSelect.options[langSelect.selectedIndex].value;
                if(selectValue != "없음"){
                    document.getElementById('link').value = '이미 작성된 답변 사용';
                    document.getElementById('content').value = '이미 작성된 답변 사용';

                    document.getElementById('link').disabled = true ;
                    document.getElementById('content').disabled = true ;
                }else{
                    document.getElementById('link').value = '';
                    document.getElementById('content').value = '';

                    document.getElementById('link').disabled = false ;
                    document.getElementById('content').disabled = false ;
                }
            }

            function reply() {
                var langSelect = document.getElementById("answer_list_select");

                // select element에서 선택된 option의 value가 저장된다.
                var selectValue = langSelect.options[langSelect.selectedIndex].value;
                if(selectValue == "없음"){
                    alert(selectValue);
                    var link = $("#link").val();
                    var content = $("#content").val();

                    if(!content) {
                        alert("답변 내용을 입력하세요.");
                    }
                    else if(link){
                        var linkstr=link.substr(0,24);
                        var linkstr1 = link.substr(0,17);
                        if(linkstr!='https://www.youtube.com/' || linkstr1!='https://youtu.be/') {
                            $('#reply_post').submit();
                        }else {
                            alert("링크의 형식이 잘못되었습니다.");
                        }
                    }
                    else {
                        $('#reply_post').submit();
                    }
                }else{
                    
                    $('#reply_post').submit();
                }

            }
        </script>
    </body>
</html>
